[submodule "geoip/maxminddb-golang"]
	path = geoip/maxminddb-golang
	url = https://github.com/oschwald/maxminddb-golang
[submodule "kafka/librdkafka"]
	path = kafka/librdkafka
	url = https://github.com/edenhill/librdkafka
[submodule "kafka/sarama/sarama"]
	path = kafka/sarama/sarama
	url = https://github.com/Shopify/sarama
[submodule "k8s-docker-desktop-for-mac"]
	path = k8s-docker-desktop-for-mac
	url = https://github.com/maguowei/k8s-docker-desktop-for-mac
[submodule "k8s-for-docker-desktop"]
	path = k8s-for-docker-desktop
	url = https://github.com/AliyunContainerService/k8s-for-docker-desktop
[submodule "redis/redcon"]
	path = redis/redcon
	url = https://github.com/tidwall/redcon
[submodule "CRD/sample-controller"]
	path = CRD/sample-controller
	url = https://github.com/kubernetes/sample-controller
[submodule "minio/minio-go"]
	path = minio/minio-go
	url = https://github.com/minio/minio-go
[submodule "minio/minio"]
	path = minio/minio
	url = https://github.com/minio/minio
[submodule "minio/mc"]
	path = minio/mc
	url = https://github.com/minio/mc
[submodule "netlink"]
	path = netlink
	url = https://github.com/vishvananda/netlink
[submodule "kube-mutating-webhook-tutorial"]
	path = kube-mutating-webhook-tutorial
	url = https://github.com/morvencao/kube-mutating-webhook-tutorial
[submodule "prometheus/k8s-prom"]
	path = prometheus/k8s-prom
	url = https://github.com/iKubernetes/k8s-prom
[submodule "client_golang"]
	path = client_golang
	url = https://github.com/prometheus/client_golang
[submodule "Istio/istio"]
	path = Istio/istio
	url = https://github.com/istio/istio
[submodule "Istio/release-builder"]
	path = Istio/release-builder
	url = https://github.com/istio/release-builder
[submodule "serverless/knative/serving"]
	path = serverless/knative/serving
	url = https://github.com/knative/serving
[submodule "serverless/knative/eventing"]
	path = serverless/knative/eventing
	url = https://github.com/knative/eventing
[submodule "serverless/knative/docs"]
	path = serverless/knative/docs
	url = https://github.com/knative/docs
