[submodule "geoip/maxminddb-golang"]
	path = geoip/maxminddb-golang
	url = https://github.com/oschwald/maxminddb-golang
[submodule "kafka/librdkafka"]
	path = kafka/librdkafka
	url = https://github.com/edenhill/librdkafka
[submodule "kafka/sarama/sarama"]
	path = kafka/sarama/sarama
	url = https://github.com/Shopify/sarama
